*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Desktop first*/
/* sezione header*/
header{
    width: 80%;
    height: 80px;
    background-color: #080b12;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .button{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 10px 30px;
    text-transform: uppercase;
    margin-right: 15px;
}

.button:hover{
    transform: scale(1.1,1.1);
}


/* sezione navbar a sinistra*/
nav.sidebar-left{
    background-color: black;
    height: calc(100vh - 80px);
    width: 20%;
    float: left;
}

nav .content{
    margin: auto;
    height: 100%;
    /* background-color: yellow; */
}

.options img.logo {
    max-width: 60%;
    margin: 20px 15px;
}


.option { /* classe comune delle varie opzioni*/
    height: 30px;
    vertical-align: middle;
    padding-left: 15px;
    padding-top: 5px;
}
.option .icon, .user .icon{
    width: 20px;
    vertical-align: middle;
}

.option.selected { /* classe specifica per la prima opzione*/
    border-left: 3px solid green;
    padding-left: 12px;
}

span{
    vertical-align: middle;
    margin-left: 5px;
    color: grey;
}


.playlists h3{
    color: white;
    margin: 15px;
}

.add-playlist i{
    background-color: grey;
    padding: 10px;
    margin-left: 15px;
}

.playlists ul li{
    margin: 10px;
}


.sidebar-left .user {
    margin: 15px 35px 0px 15px;
}

.download, .user-info {
    padding: 10px 0px;
}

.user-info .icon {
    background-color: grey;
    border-radius: 50%;
}

.user-info h4{
    display: inline-block;
    color: white;
    vertical-align: middle;
    padding-left: 5px;
}




/* sezione main*/
main{
    width: 80%;
    height: calc(100vh - 160px);
    background-color: #141922;
    overflow-y: scroll;
    position: relative;
    top: 80px;
}

main .main-content{
    width: 95%;
    margin: 10px auto;
    /* background-color: blue; */

    /* height: 100vh; */
}

.main-content nav ul.categorie{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-content nav ul li{
    list-style: none;
    display: inline-block;
    color: gray;
    text-transform: uppercase;
    margin-right: 20px;
    margin-top: 15px;
}

section{
    margin-bottom: 40px;
}

.main-content h2{
    color: white;
    margin: 20px 0px;
}

.main-content h3{
    color: white;
    margin: 10px 0px;
    text-align: center;
}

.main-content .recent p{
    color: grey;
    text-align: center;
}

/* inzio sezione "recenti" */
.recent .album-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.album-container .album{
    width: 15%;
}

.album-container .album img.thumbnail{
    max-width: 100%;
}


/* inizio sezione utente*/
.sezione-utente .album-container, .artisti .album-container{
    display: flex;
    justify-content: flex-start;
}

.sezione-utente .album-container .album, .artisti .album-container .album{
    margin-right: 20px;
}

.sezione-utente p, .artisti p {
    color: grey;
    margin: -15px 0px 15px 0px;
}



/* inizio sezione artisti*/
.artisti .album-container .artist{
    border-radius: 50%;
}

.album-container .album img.artist{
    max-width: 100%;
    border-radius: 50%;
}


.clearfix{
    clear: both;
}



footer{
    height: 80px;
    background-color: #282828;

    position: fixed;
    bottom: 0;
    width: 100%;
}




/* inizio sezione media-query*/

/* breakpoint "md" */
@media screen and (min-width:768px) and (max-width: 991px){

    header{
        width: 75%;
    }
    nav.sidebar-left{
        width: 25%;
    }
    main{
        width: 75%;
    }

    .recent .album-container{
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .album-container .album{
        width: 21%;
        margin-right: 15px;
    }

    .sezione-utente .album-container .album{
        margin-right: 15px;
    }

    
}

/* breakpoint "s" */
@media screen and (min-width: 576px) and (max-width: 767px){

    /* sistemazione larghezze per la parte mobile*/
    header{
        width: 70%;
    }
    nav.sidebar-left{
        width: 30%;
    }
    main{
        width: 70%;
    }

    .album-container .album{
        width: 47%;
        margin-right: 10px;
        margin-bottom: 10px;
    }


    .sezione-utente .album-container .album{
        margin-right: 15px;
    }

    
}

/* breakpoint "xs" */
@media screen and (max-width: 576px){

    nav.sidebar-left{
        width: 10%;
    }

    header{
        width: 90%;
    }

    main{
        width: 90%;
    }

    .album-container .album {
        width: 47%;
    }

    span{
        display: none;
    }

    div.playlists{
        display: none;
    }

    .options img.logo{
        content: url("img/logo-small.svg");
    }
}